<div class="row">
  <div class="medium-6 columns">
    <div class="callout">
      <table>
        <tr>
          <td>Gateway IP</td>
          <td></td>
        </tr>
        <% if @server.present? %>
        <tr>
          <td>Proxy Server</td>
          <td><%= @server.name %></td>
        </tr>
        <tr>
          <td>Proxy IP</td>
          <td><%= @server.host %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="medium-6 columns">
    <% if Setting.auth_set? %>
      <%= link_to 'Force refresh from API', dashboard_api_update_path, method: :post, class: 'button' %>
    <% end %>
  </div>
</div>
