<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/semantic/semantic.min.css">
    <script src="/assets/semantic/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui menu">
      <div class="header item">
        Gateway
      </div>
      <a href="/" class="item">Dashboard</a>
      <a href="/settings" class="item">Settings</a>
    </div>

    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
